.singlebubble{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    width: 46%;
    margin: 8px 0px;
    border-radius: 5px;
}

.bubble-bg{
    opacity: 70%;
    background-color: black;
    height: 30px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bubble-info{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    height: 30px;
}

.bubble-info p{
    margin: 0;
    display: flex;
    align-items: center;
}

.bubble-header{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.bubble-rating{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: auto;
    padding-right: 5px;
}

select{
    background-color: white;
}

.row{
    display: flex;
    justify-content: space-around;
}

.list-star{
    font-size: .5em;
    margin-bottom: 0px;
}

.dv-star-rating-star{
    margin-bottom: 0px !important;
}

@media only screen and (min-width: 1200px) {

    .singlebubble{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        height: 300px;
        width: 15%;
        margin: 8px 0px;
        border-radius: 5px;
    }
    
    .bubble-bg{
        opacity: 70%;
        background-color: black;
        height: 60px;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .bubble-info{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: white;
        height: 60px;
    }
    
    .bubble-info p{
        font-size: 1.3em;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .bubble-header{
        width: 80%;
        padding-left: 8px;
    }
    
    .bubble-rating{
        display: flex;
        justify-content: flex-end;
        width: 30%;
        height: auto;
    }
  }