@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

body {
  margin: 0;
  text-align: center;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  /* background-color: #ffffff; */
}

a:hover{
  color: white;
  text-decoration: none;
}

p{
  margin-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.removed{
  color: lightgrey;
}

.ourbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
}

.navbar-item{
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-navbar-item{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-navbar{
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #1b5553;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-sel-navbar{
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-selected-navbar{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid black;
  background-color: #1b5553;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-not-sel-navbar{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-movie-result{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-header{
  position: relative;
  background-color: #e1e7f5;
  color: black;
  font-size: 1.8em;
  padding: 8px;
  text-align: left;
  margin-bottom: 0px;
}

.description{
  text-align: left;
  height: auto;
  padding: 8px;
  padding-top: 0px;
}

.synopsis{
  background-color: #e1e7f5;
  padding: 8px 0;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}

.good-button{
  background-color: white;
  height: 20px;
  width: 60px;
  color: green;
  font-size: .7em;
  border: 1px solid green;
  border-radius: 5px;
}

.good-button:focus, .bad-button:focus{
    outline: none;
}

.bad-button{
  background-color: white;
  height: 20px;
  width: 90px;
  border: 1px solid gray;
  color: gray;
  font-size: .7em;
  border-radius: 5px;
}

.navbar-icons{
  height: 80%;
  width: auto;
  color: #feffff
}

.poster-size{
  width: auto;
  height: 230px;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 36px;
}

.listing-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
  margin-left: 0px;
}

.listing-add-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin-right: 8px;
  margin-top: 8px;
  text-align: right;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.listing-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: inherit;
  margin-bottom: 8px;
  margin-right: 16px;
}

.gold{
  color: #ffb400;
}

.listing-info h1, .listing-info h2, .listing-info h3, .listing-info h4, .listing-info h5,.listing-info p, .listing-info span{
  padding: 8px;
  text-align: left;
  margin: 0;
}

.make-inline-flex{
  display: flex;
  margin: 8px;
  align-items: center;
}

.dv-star-rating-star i{
  font-size: 2em;
}

.review-input{
  height: 200px;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
}

.submit-rating{
  width: 80vw;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.my-list-item-header-div{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  opacity: 0.5;
  height: 50px;
  width: 100%;
}

.my-list-item-header{
  overflow: hidden;
  
}

.my-list-item{
  position: relative;

}

.movie-list-item{
  margin-bottom: 20px;
}

.not-a-button{
  background: none!important;
  border: none;
  margin-right: 3px;
  padding: 0!important;
  color: rgb(219, 48, 48);
  cursor: pointer;
}

.change-name{
  border-top: 1px solid black;
  border-bottom: 1px solid lightgray;
  font-size: 1.2em;
}

.change-email{
  border-bottom: 1px solid lightgray;
  font-size: 1.2em;
}

.landing-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  height: 100%;
  width: 50%;
  margin-top: 20%;
}

.whole-landing-page{
  width: auto;
  height: 100vh;
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #2b7a78;
  height: 60px;
}

.login-part{
  margin-right: 8px;
}

.mml{
  font-size: 1.5em;
  margin-top: 8px;
  margin-left: 8px;
}

/* .mml-text{

    text-shadow:
      -1px -1px 0 red,
      1px -1px 0 red,
      -1px 1px 0 red,
      1px 1px 0 red;

} */

.image-container{
  padding: 30px 30px 0 30px;
}

.background-landing{
  background-color: #419b98;
  height: 100vh;
  overflow: hidden;
}

.hidden-span{
  visibility: hidden;
  display: none;
}

.no-padding{
  padding: 0px !important;
}

.absolute{
  position: absolute; 
  bottom: 0;
  left: 0;
  margin-left: 4px;
  margin-bottom: 8px;
}

.relative{
  position: relative;
}

.feed-image-size{
  height: 200px;
  margin: 16px 0px;
  text-align: center;
}

a:hover {
  color: darkblue;
}



@media only screen and (min-width: 1199px) {

  .ourbar{
    height: 80px;
  }

  .navbar-icons{
    height: 50px;
  }

  .hidden-span{
    visibility: visible;
    display: contents;
  }

  .columns{
    display: flex;
    flex-direction: column;
    color: white !important;
    text-decoration: none !important;
    font-size: 1.2em;
  }

  .poster-size{
    height: 400px;
    /* margin: 32px 0px; */
    margin-left: 80px;
  }

  .make-inline-flex *{
    font-size: 1.1em;
  }

  .description{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-left: 25%;
    background-color: lightgrey;
    padding: 8px;
    border-radius: 5px;
  }

  .movie-header{
    font-size: 2.2em;
    text-align: center;
  }

  .good-button{
    background-color: white;
    height: 50px;
    width: 120px;
    color: green;
    font-size: 1em;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 4px;
  }
  
  .good-button:focus, .bad-button:focus{
      outline: none;
  }
  
  .bad-button{
    background-color: white;
    height: 50px;
    width: 120px;
    border: 1px solid gray;
    color: gray;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 4px;
  }

  .absolute{
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 8px;
  }

  .feed-item{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
  }


}