body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ourbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.navbar-item{
  width: 25%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-movie-result{
  border-bottom: 1px solid palevioletred;
  margin: 8px 0px;
  width: 100%;
}

.description{
  text-align: left;
  width: 90%;
  height: auto;
  background-color: lightblue;
  padding: 8px;
  margin: 8px;
}

.navbar-icons{
  height: 80%;
  width: auto;
}

.poster-size{
  width: auto;
  height: 200px;
}

.listing-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
}

.listing-add-btn{
  position: absolute;
  top: 0;
  right: 0
}

.listing-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: inherit;
  margin-bottom: 8px;
}

.listing-info h1, .listing-info h2, .listing-info h3, .listing-info h4, .listing-info h5,.listing-info p{
  margin: 0 16px;
  padding: 8px;
}

.dv-star-rating-star i{
  font-size: 2em;
}

.review-input{
  height: 200px;
  width: 90vw;
  border: 1px solid black;
  border-radius: 10px;
}

.submit-rating{
  width: 80vw;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}