body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #feffff;
  /* background-color: #ffffff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.removed{
  color: lightgrey;
}

.ourbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.navbar-item{
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-navbar-item{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid black;
  background-color: #2b7a78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-movie-result{
  border-bottom: 1px solid palevioletred;
  margin: 8px 0px;
  width: 100%;
}

.description{
  text-align: left;
  height: auto;
  background-color: #edc7b7;
  padding: 8px;
  margin: 8px;
  margin-bottom: 16px !important;
  -moz-box-shadow: 5px 5px 5px rgb(112, 112, 112);
  -webkit-box-shadow: 5px 5px 5px rgb(112, 112, 112);
  box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

.navbar-icons{
  height: 80%;
  width: auto;
  color: #feffff
}

.poster-size{
  width: auto;
  height: 200px;
}

.listing-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
}

.listing-add-btn{
  position: absolute;
  top: 0;
  right: 0
}

.listing-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: inherit;
  margin-bottom: 8px;
}

.listing-info h1, .listing-info h2, .listing-info h3, .listing-info h4, .listing-info h5,.listing-info p{
  margin: 0 16px;
  padding: 8px;
}

.dv-star-rating-star i{
  font-size: 2em;
}

.review-input{
  height: 200px;
  width: 90vw;
  border: 1px solid black;
  border-radius: 10px;
}

.submit-rating{
  width: 80vw;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.my-list-item-header-div{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  opacity: 0.5;
  height: 50px;
  width: 100%;
}

.my-list-item-header{
  overflow: hidden;
  
}

.my-list-item{
  position: relative;

}

.movie-list-item{
  margin-bottom: 20px;
}

.not-a-button{
  background: none!important;
  border: none;
  margin-right: 3px;
  padding: 0!important;
  color: blue;
  cursor: pointer;
}

.change-name{
  border-top: 1px solid black;
  border-bottom: 1px solid lightgray;
  font-size: 1.2em
}

.change-email{
  border-bottom: 1px solid lightgray;
  font-size: 1.2em
}